.light-mode {
  background: #f4f4f4;
  color: black;
}

.light-mode .card {
  background: white;
  color: black;
}
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  backdrop-filter: blur(10px);
  z-index: 1000;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00c6ff;
}
